[Unit]
Description=RClone mount of Google Drive to ~/files

[Service]
Type=notify
Environment=HOME=/home/eric
# this is needed in order to use fusermount with the suid bit set
Environment=PATH=/run/wrappers/bin
ExecStart=/run/current-system/sw/bin/rclone mount gdrive:/ %h/files/ --vfs-cache-mode full --config %h/.config/rclone/rclone.conf --cache-dir %h/.cache/rclone

[Install]
WantedBy=default.target
