[Unit]
Description=Synchronization service calling sync script

[Service]
Type=oneshot
# set path, otherwise commands will not work
Environment="PATH=/etc/profiles/per-user/eric/bin:/run/current-system/sw/bin"
# do not notify status from gopass
# Environment="GOPASS_NO_NOTIFY=true"
# gopass uses ssh and so needs the ssh auth sock
Environment="SSH_AUTH_SOCK=/run/user/1000/gnupg/S.gpg-agent.ssh"

ExecStart=%h/scripts/sync-if-card-unlocked.sh
