[Unit]
Description=Todo git repo synchronizing

[Timer]
OnCalendar=*-*-* *:00:00
OnCalendar=*-*-* *:15:00
OnCalendar=*-*-* *:30:00
OnCalendar=*-*-* *:45:00
Persistent=true
Unit=todo-sync.service

[Install]
WantedBy=timers.target
