[submodule ".vim/bundle/emmet-vim"]
	path = .vim/pack/plugins/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/themes/start/dracula"]
	path = .vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/plugins/start/coc.nvim"]
	path = .vim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".mutt/dracula"]
	path = .mutt/dracula
	url = https://github.com/dracula/mutt.git
[submodule ".themes/alacritty"]
	path = .themes/alacritty
	url = https://github.com/dracula/alacritty.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
