# exclude the git folder itself
/.dot.git
# cloud files are private and already in the cloud
/cloud
# source code is already in git
/src
# firefox settings
/.mozilla
/Downloads
# mail, calendar and other important
/.mail
/.calendars
/.ssh
/.gnupg
/.contacts
# cache and other local files
/.nix-profile
/.pki
/.local
/.cache
/.vdirsyncer
/.msmtp.queue
/go
**/*.swp
# history
/.bash_history
/.lesshst
/.sqlite_history
