[credential]
	helper = store
[user]
	name = Eric Selin
	email = eric.selin@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	lg = !git --no-pager log --graph --oneline --all -20
  lod = log --graph --all --format='%C(auto)%h %C(blue ul)%ad%Creset %C(magenta ul)%cd%C(auto) %d %s' --date=format:'%a %d.%m %H:%M:%S'
  unreleased = !git log $(git describe --tags --abbrev=0)..HEAD
[init]
	defaultBranch = main
[core]
	editor = nvim
[pull]
	rebase = false
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = true
