@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
@define-color nord4 #d8dee9;
@define-color nord9 #81a1c1;
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;

@define-color bg @nord1;
@define-color fg @nord4;
@define-color bg-focus @nord9;
@define-color fg-focus @nord0;

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: @bg;
  font-family: Source Code Pro;
  font-size: 14px;
  color: @fg;
}

#workspaces button {
  padding: 5px;
  color: @fg;
}

#workspaces button:hover {
  background: @nord2;
  box-shadow: inherit;
  text-shadow: inherit;
  border: none;
}

#workspaces button.focused {
  background: @bg-focus;
  color: @fg-focus;
}

#mode {
  padding: 5px;
  background: @bg-focus;
  color: @fg-focus;
}

.modules-right label {
  padding: 5px;
}

.warning {
  background: @nord13;
  color: @nord0;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.critical {
  background: @nord11;
  color: @nord4;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.running {
  background: @bg-focus;
  color: @fg-focus;
}

#custom-pomodoro.running {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* WORKAROUND: the icons are different widths */
#idle_inhibitor {
  min-width: 1.25em;
}

#idle_inhibitor.activated {
  background: @bg-focus;
  color: @fg-focus;
}
